{% extends "layout.html" %}
{% block content %}
  <main>
    <h2>Create a short URL</h2>
    <p>Enter a URL you would like a short, easy-to-remember alias for.</p>
    <form action="{{ url_for('handle_data') }}" method="post">
      <div id="action-bar">
        <input type="text" name="url" placeholder="e.g. https://google.com" required /><button type="submit" data-hover="→"><div>Shorten</div></button>
      </div>
        <input type="text" style="display: none" name="code" placeholder="custom code" />
    </form>
    {% if result == -1 %}
    <p class="error">
      Invalid URL.
      <button onClick="closeErrors();">&times;</button>
    </p>
    <script>
      document.getElementById("action-bar").className = "url-error"
    </script>
    {% elif result == -2 %}
    <p class="error">
      This alias is already in use.
      <button onClick="closeErrors();">&times;</button>
    </p>
    <script>
      document.getElementById("action-bar").className = "alias-error"
    </script>
    {% elif result != -3 %}
    <div class="success"><p>Shortened <a rel="noreferrer noopener" href={{ url }}>{{ url }}</a> to <a href={{ "https://s5n.herokuapp.com/" + result }} id="short-url">s5n.herokuapp.com/{{ result }}</a></p><button id="copy"><i class="gg-clipboard"></i> <span id="copy-inner">Copy</span></button></div>
    <script>
      function copyToClipboard(value) {
        var tempInput = document.createElement("input");
        tempInput.value = value;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
      }

       document.querySelector('#copy').onclick = function() {
        const val = document.getElementById("short-url").innerText
        copyToClipboard(val);
        document.getElementsByClassName("gg-clipboard")[0].className = "gg-check-o";
        document.getElementById('copy-inner').innerText = "Copied!"
      }
    </script>
    {% endif %}
  </main>
  <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

    function closeErrors() {
      const errors = document.getElementsByClassName("error")
      for (error of errors) {
        error.style.display = 'none';
      }
    }
  </script>
{% endblock %}