<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  </head>
  <body>
    <div class="content">
      <header>
        <div class="container">
          <h1 class="logo">URL Shortener</h1>
        </div>
      </header>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <footer>
      <div class="container">
        <ul>
          <li>Resources</li>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
        </ul>
        <ul>
          <li>About</li>
          <li>URL Shortener built with Flask/Jinja and hosted on Heroku.</li>
          <li><span style="opacity: 0.6">&copy; Copyright 2020 </span><a href="https://sirajchokshi.com" target="_blank" rel="noopener">Siraj Chokshi</a>, <a href="https://github.com/a-ys" target="_blank" rel="noopener">Andrew Song</a>.</li>
        </ul>
      </div>
    </footer>
  </body>
</html>