<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  </head>
  <body>
    <div class="content">
      <header>
        <div class="container">
          <h1 class="logo">URL Shortener</h1>
        </div>
      </header>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <footer>
      <div class="container">
        <ul>
          <li>Resources</li>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
        </ul>
        <ul>
          <li>About</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laboriosam voluptatibus unde impedit ex ea hic eius perferendis ad enim! Fugiat, laboriosam sint! Provident natus odit, vel suscipit eligendi expedita.</li>
        </ul>
      </div>
    </footer>
  </body>
</html>