<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <style>
      .hidden {
        display: none;
      }
      #content-wrap {
        -webkit-transition: opacity 0.2s ease-in;
        -moz-transition: opacity 0.2s ease-in;
        -o-transition: opacity 0.2s ease-in;
        -ms-transition: opacity 0.2s ease-in;
        transition: opacity 0.2s ease-in;
      }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  </head>
  <body id="body" class="hidden">
    <div class="content" id="content-wrap" style="opacity: 0">
      <header>
        <main>
          <h1 class="logo">URL Shortener</h1>
        </main>
      </header>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <footer>
      <div class="container">
        <ul>
          <li>Resources</li>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('terms') }}">Terms of Use</a></li>
        </ul>
        <ul>
          <li>About</li>
          <li>URL Shortener built with Flask/Jinja and hosted on Heroku.</li>
          <li><span style="opacity: 0.6">&copy; Copyright 2020 </span><a href="https://sirajchokshi.com" target="_blank" rel="noopener">Siraj Chokshi</a>, <a href="https://github.com/a-ys" target="_blank" rel="noopener">Andrew Song</a>.</li>
        </ul>
      </div>
    </footer>
  </body>
  <script>
    document.getElementById("body").classList = "";
    window.setTimeout(() => document.getElementById("content-wrap").style.opacity = 1, 0)
  </script>
</html>